body {
    background-color: black;
}

.game {
    width: 800px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 400px);
    overflow: hidden;
}

#spaceship {
    width: 100px;
    height: 80px;
    left: 200px;
    position: inherit;
    background: none;
}

.obstacle {
    width: 80px;
    height: 80px;
    position: inherit;
    background: none;
}

.game_img,
.planet_img,
.spaceship_img {
    width: inherit;
    height: inherit;
}

#score {
    position: inherit;
    right: 5px;
    color: white;
    font-family: monospace;
}